<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-logo">
            <img src="{{ site.logo }}"/>
        </div>

        <div class="sidebar-about">
            <h1>
                <a href="{{ site.baseurl }}">
                    {{ site.title }}
                </a>
            </h1>

            <p class="lead">{{ site.description }}</p>
        </div>

        <ul class="sidebar-nav">
			<li>
            	<i class="iconfont">&#xe601;</i>
				<a class="{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
			</li>

            {% comment %}
            The code below dynamically generates a sidebar nav of pages with
            `layout: page` in the front-matter. See readme for usage.
            {% endcomment %}

            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
            {% if node.title != null %}
            {% if node.layout == "page" %}
			<!-- <li>
				<i class="iconfont">&#xe602;</i>
				<a class="{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
			</li> --> 
           {% endif %}
            {% endif %}
            {% endfor %}

			<li>
				<i class="iconfont">&#xe603;</i>
				<a href="{{ site.github.repo }}">GitHub Projects</a>
			</li>
			<li>
				<i class="iconfont">&#xe604;</i>
				<a href="/atom.xml">Rss</a>
			</li>
            <li>
                <a target="_blank" href="https://github.com/aliqin/atui">ATUI(Vue.js 2.0 UI Toolkit for Web)</a>
            </li>
        </ul>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
